<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:insert="~{plantilla :: headPlantilla}">
        <title>Lista de productos</title>
    <head/>
    <body>
        <div>
            <nav  th:replace="~{plantilla :: headerNav}"><nav/>
        </div>
        <div class="container m-auto">
            <h1>Lista de productos</h1>
            <button onclick="window.location.href='/productos/nuevo'" class="btn btn-primary mb-3">Agregar producto</button>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Tipo</th>
                        <th>Precio</th>
                        <th>Acciones</th> <!-- Columna para los botones de editar y eliminar -->
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="producto : ${productos}">
                        <td th:text="${producto.productoId}"></td>
                        <td th:text="${producto.nombre}"></td>
                        <td th:text="${producto.tipo}"></td>
                        <td th:text="${producto.precio}"></td>
                        <td>
                            <!-- Botón de Editar -->
                            <a th:href="@{/productos/editar/{id}(id=${producto.id})}" class="btn btn-warning btn-sm">Editar</a>
    
                            <!-- Formulario de Eliminar -->
                            <form th:action="@{/productos/eliminar/{id}(id=${producto.id})}" method="post" style="display:inline;">
                                <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro de que deseas eliminar este producto?');">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>