<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:insert="~{plantilla :: headPlantilla}">
        <title>Editar Medicina</title>
    </head>
    <body>
        <div>
            <nav th:replace="~{plantilla :: headerNav}"></nav>
        </div>
        <div class="container m-auto">
            <h1>Editar Medicina</h1>
            <!-- Formulario para editar una medicina -->
            <form th:action="@{/medicinas/editar/{id}(id=${medicina.id})}" th:object="${medicina}" method="post">
                <div class="form-group">
                    <label for="medicinaId">Medicina ID</label>
                    <input type="number" id="medicinaId" th:field="*{medicinaId}" class="form-control" placeholder="ID de la medicina" readonly />
                </div>
                <div class="form-group">
                    <label for="nombreComercial">Nombre Comercial</label>
                    <input type="text" id="nombreComercial" th:field="*{nombreComercial}" class="form-control" placeholder="Nombre comercial de la medicina" required />
                </div>
                <div class="form-group">
                    <label for="nombreCompuesto">Nombre Compuesto</label>
                    <input type="text" id="nombreCompuesto" th:field="*{nombreCompuesto}" class="form-control" placeholder="Nombre compuesto de la medicina" required />
                </div>
                <div class="form-group">
                    <label for="casaFarma">Casa Farmacéutica</label>
                    <input type="text" id="casaFarma" th:field="*{casaFarma}" class="form-control" placeholder="Casa farmacéutica" required />
                </div>
                <div class="form-group">
                    <label for="requierePrescripcion">Requiere Prescripción</label>
                    <select id="requierePrescripcion" th:field="*{requierePrescripcion}" class="form-control">
                        <option value="si" th:selected="*{requierePrescripcion == 'si'}">Sí</option>
                        <option value="no" th:selected="*{requierePrescripcion == 'no'}">No</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="aplicacion">Aplicación</label>
                    <input type="text" id="aplicacion" th:field="*{aplicacion}" class="form-control" placeholder="Forma de aplicación" required />
                </div>
                <button type="submit" class="btn btn-primary">Actualizar</button>
                <a href="/medicinas" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>
    </body>
</html>
